---
layout: default
---

<html>
  <head>
    <meta http-content='IE=Edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'>
    <meta data-env="production" data-stripe="pk_live_hkgvgSBxG4TAl3zGlXiB1KUX" id="fedora-keys" />
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="wv5oGT590cwxuhWM7Js5EQyJV2xSE97Tb0SN0gTe2qs=" name="csrf-token" />
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/static-css-assets/icons/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://s3-us-west-2.amazonaws.com/static-css-assets/icons/favicons/favicon.ico" type="image/x-icon">
    <title>{{ site.data.homepage.seo-title }} </title>
    <meta content="{{ site.data.homepage.seo-description }}" name="description" />
    <link rel="stylesheet" href="css/main.css">


    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/javascript/script.js"></script>
 
    <!-- CovertKit-->
    <style type="text/css">
    /* Form fields */

    .ck_errorArea {
        display: none; /* temporary */
    }

    #ck_success_msg {
        text-align: center;
        font-weight: bold;
        transition: 0.3s all ease;
    }

    #ck_success_msg p {    
        color: #57986d !important;
        font-weight: bold !important;
    }
    </style>
    <script src="https://app.convertkit.com/assets/CKJS4.js?v=15"></script>
  </head>
  <body>
    

<!-- HEADER -->

  <header class="homepage-header">
    <div class="container">
      <div class="row">


      <!-- LOGO -->
      <a class="logo col-sm-1 col-md-2">
        <img class="img-responsive" src="{{ site.data.homepage.header.logo }}" >    
      </a>

      <div class="col-md-1"></div>

      <!-- Navigation Bar -->
      <nav class="col-sm-7 col-md-7 row">
          <div class="navbar-item col-sm-3 cursor-pointer" id="the-summit">The Summit</div>
          <div class="navbar-item col-sm-3 cursor-pointer" id="the-speakers">The Speakers</div>
          <div class="navbar-item col-sm-3 cursor-pointer" id="faq">FAQ</div>
      </nav>

      </div>
    </div>
  </header>
    
<!-- Hero -->
<div class="homepage-hero">
  <div class="homepage-hero-background"></div>
  <div class="homepage-hero-overlay"></div>
  <div class="container">
  <div class="row">

    <div class="col-md-6">
      <img class="img-responsive" src="{{ site.data.homepage.hero.people-image }}">
    </div>
    
    <div class="col-md-6">
        <p class="sub-headline text-center">Teachable Presents a Special Live Online Summit:</p> 
        <!--<h2 class="headline text-center">{{site.data.homepage.hero.heading}}</h2>-->
        <h2 class="headline text-center"><span>10 World Class Experts Show You How to Launch <em>Your Own</em> Profitable Online Course & Grow Your Business</span></h2>
        
        <div class="hero-button-parent">
          
          <div class="open-modal open-modal-top btn btn-default btn-primary btn-large btn-block">Get Free Access >></div>

        </div> 
        <p class="button-small-text">Free Virtual Training Event <br/> Ongoing November 18th-25th.</p>

    </div>
  </div>
</div> 
</div>  

<!-- ABOUT SUMMIT - HEADEr -->
<div class="about-summit text-center">
  <h2 class="about-summit-title section-title" id="scroll-the-summit">Are you a creative, a freelancer, a blogger, designer, consultant, coach or author who wants to grow your business, your income and your impact?</h2>

  <p class="about-summit-longer-text">If so, then we've created this live virtual summit specially for <u><em>you</em></u>. We're bringing in 10 successful entrepreneurs and experts to deliver live, step-by-step workshops to show you exactly how you can create, promote and launch your own profitable online course in the next 30 days.</p>


</div>
    
    
<!-- ABOUT SUMMIT - Bullet Points -->
<div class="testimonial-row instructor-row">
<div class="container">
    <!-- What You Will Learn -->
    <div class="learn-row description-row row">
        
        <h2 class="section-title">{{site.data.homepage.learn.title}}</h2>
        
        {% for point in site.data.homepage.learn.points %}
            <div class="point col-sm-4">
                <div class="point-icon"><img src="{{point.icon}}"></div>
                <div class="point-title">{{point.title}}</div>
                <div class="point-description">{{point.description}}</div>
            </div>
        {% endfor %}

    </div>
</div>
</div>

<!-- Sign Up To Get Notified -->
<div class="signup-row description-row container-fluid" id="signup_row">
      <div class="col-lg-12 col-md-12">
        <h2 class="section-title">{{site.data.homepage.signup.title}}</h2>
        <div class="open-modal btn btn-default btn-primary btn-large btn-block">{{site.data.homepage.signup.button}}</div>
  </div>
</div>

<div class="container">
    <div class="learn-row description-row calendar-row row">

        <h2 class="section-title">{{site.data.homepage.calendar.title}}</h2>
        
        {% for point in site.data.homepage.calendar.points %}
            <div class="calendar-point col-sm-6 row">
              
              <!-- DATE -->
              <div class="point-date-box col-sm-4">
                  <div class="point-month">{{ point.month }}</div>
                  <div class="point-date">{{ point.date }}</div>
                  <div class="point-day">{{ point.day }}</div>
               </div> 

               <!-- ABOUT WEBINAR -->
               <div class="point-content-box col-sm-8">
                  <div class="point-content-background-box" style="background: url({{ point.background }})"></div>
                    
                    <div class="point-content-inner-box">
                        <div class="calendar-point-title">{{ point.title }}</div>
                        <div class="point-time-string">{{ point.time-string }}</div>
                        <div class="point-duration">{{ point.duration }}</div>
                    </div>
                     <div class="point-content-distraction"></div>
                    
               </div>
            </div>
        {% endfor %}

    </div>   
</div>
  </div>
</div>


<!-- Featuring Insights From -->
<div class="featuring-row description-row" id="scroll-the-speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="section-title">{{site.data.homepage.featuring.title}}</h2>
        
          {% for person in site.data.homepage.featuring.people %}
            {% capture thecycle %}{% cycle 'one', 'two', 'three', 'four' %}{% endcapture %}
            
            {% if thecycle == 'one' %}
            <div class="row">
            {% endif %}

              <div class="person col-sm-3 col-xs-11">
                  <div class="person-image" style="background:url({{person.image}})"></div>
                  <div class="point-description"><strong>{{person.name}}</strong><br><em>{{person.role}}</em></div>
              </div>

            {% if thecycle == 'four' %}
            </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <br><br><br><br><h2 class="section-title">{{site.data.homepage.featuring.bonus}}</h2>

        <div class="row bonuses">
          <div class="col-sm-12">
            {% for bonus in site.data.homepage.bonuses %}
              <div class="point col-sm-4">
                <div class="point-title text-center">{{ bonus.logo }}</div>
                <div class="point-description text-center">{{ bonus.text }} </div>
                <div class="point-description text-center"><span class="color-bold">{{ bonus.value }}</span></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up To Get Notified -->
<div class="signup-row description-row" id="signup_row">
  <div class="container">
      <div class="col-lg-12 col-md-12">
         <h2 class="section-title">{{site.data.homepage.signup.title}}</h2>
        <div class="open-modal btn btn-default btn-primary btn-large btn-block">{{site.data.homepage.signup.button}}</div>
      </div>
  </div>
</div>

<!-- FAQ -->
<div class="faq-row description-row" id="signup_row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1" id="scroll-faq">
        <h2 class="section-title">{{site.data.homepage.faq.title}}</h2>
        {% for question in site.data.homepage.faq.qa %}
            <div class="faq-question">{{question.question}}</div>
            <div class="faq-answer">{{question.answer}}</div>
        {% endfor %}
        <br><br>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up To Get Notified -->
<div class="signup-row description-row" id="signup_row">
  <div class="container">
      <h2 class="section-title">{{site.data.homepage.signup.title}}</h2>
      <div class="open-modal btn btn-default btn-primary btn-large btn-block">{{site.data.homepage.signup.button}}</div>
  </div>
</div>

<!-- Footer -->
<!--
<div class="testimonial-row instructor-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <p>{{site.data.homepage.footer.copyright}}</p>
        <p><a href="mailto:{{site.data.homepage.footer.email}}">{{site.data.homepage.footer.contact}}</a></p>
      </div>
    </div>
  </div>
</div>
-->



<!-- MODAL WINDOW -->
<div class="modal-window-parent">
  <div class="modal-window-background"></div>

  <div class="modal-window">
      <div class="modal-window-close">X</div>

        <img class="modal-window-image" src="http://cdn2.hubspot.net/hubfs/677576/Images/leadbox_status_bar_gray3.gif?t=1445358012476">
          <div class="modal-window-header-text">Almost there! Please complete this form and click the button below to gain instant access.</div>

         <h2 class="modal-title text-center">Enter your email address to register for this Special Online Summit ...</h2>

         <div class="form-parent">
        <!-- FORM -->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({ 
                css: '',
                portalId: '677576',
                formId: '2e5d5976-09d3-4545-a4c4-b64ee459a5cd'
              });
            </script>
            <div class="form-text text-center">100% secure.</div>
          </div>
  </div>

</div>

</body>
</html>
