---
layout: default
---

<html>
  <head>
    <meta http-content='IE=Edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'>
    <meta data-env="production" data-stripe="pk_live_hkgvgSBxG4TAl3zGlXiB1KUX" id="fedora-keys" />
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="wv5oGT590cwxuhWM7Js5EQyJV2xSE97Tb0SN0gTe2qs=" name="csrf-token" />
    <title>Million Dollar Instructor</title>
    <meta content="" name="description" />
    <link rel="stylesheet" href="css/main.css">


 
    <!-- CovertKit-->
    <style type="text/css">
    /* Form fields */

    .ck_errorArea {
        display: none; /* temporary */
    }

    #ck_success_msg {
        border: solid 1px #ddd;
        padding-top: 20px;
    }

    #ck_success_msg p {    
        color: #57986d !important;
    }
    </style>
    <script src="https://app.convertkit.com/assets/CKJS4.js?v=15"></script>
  </head>
  <body>
    
    
<!-- Hero -->
<div class="homepage-hero" style="background: url('{{site.data.homepage.hero.image}}') !important; background-size: cover !important;
background-position: center !important;">
  <div class="container">
    <div class="row text-center">
      <img src="images/logo.png" class="logo">
    </div>

    <div class="row text-center">
      <h2 class="headline">{{site.data.homepage.hero.heading}}</h2>
      <h3 class="subtitle col-sm-8 col-sm-offset-2">{{site.data.homepage.hero.subtitle}}</h3>
    </div>
    
    <br><br>

    <div class="row">
      <div class="black-transparent-bg col-sm-10 col-sm-offset-1">
        <h3 class="signup-form-title text-center">{{site.data.homepage.signup.title}}</h3>
        <div id='ck_success_msg'  style='display:none;'>
          <p>Thanks! Now check your email.</p>
        </div>
        <p class="ck_errorArea"></p>

        <!--  Form starts here  -->
        <form id="ck_subscribe_form" class="signup-form" action="https://app.convertkit.com/landing_pages/913/subscribe" data-remote="true">
          <input type="hidden" name="id" value="913" id="landing_page_id"></input>
            <div class="col-xs-12 col-sm-4">
              <input name="first_name" id="ck_firstNameField" required type="textbox" placeholder="Enter first name">
            </div>

            <div class="col-xs-12 col-sm-4">
              <input name="email" id="ck_emailField" required type="textbox" placeholder="Enter your e-mail">
            </div>

            <div class="col-xs-12 col-sm-4">
              <input class="btn-primary btn-hg" type="submit" id='ck_subscribe_button' value="{{site.data.homepage.signup.button}}">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial -->
<div class="testimonial-row instructor-row">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <img class="large-img-rounded img-responsive" src="{{site.data.homepage.testimonial.image}}">
      </div>
      <div class="col-xs-12 col-md-7 quote-wrapper">
        <p class="quote">{{site.data.homepage.testimonial.quote}}</p>
        <p>- {{site.data.homepage.testimonial.person}}</em></p>
      </div>
    </div>
  </div>
</div>

<!-- About the Course -->
<div class="about-row description-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <h2 class="section-title">{{site.data.homepage.about.title}}</h2>
        <p>{{site.data.homepage.about.first_paragraph}}</p><br>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Month</th>
                      <th>Revenue</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for income in site.data.homepage.about.income_table %}
                        <tr>
                          <td>{{ income.month }}</td>
                          <td class="amount">{{ income.income }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div><br>

        <p>{{site.data.homepage.about.second_paragraph}}</p><br><br>

        <a class="btn-primary btn-hg" href="#signup_row">{{site.data.homepage.about.call_to_action}}</a>
      </div>
    </div>
  </div>
</div>


<!-- What You Will Learn -->
<div class="learn-row description-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="section-title">{{site.data.homepage.learn.title}}</h2>
        
        {% for point in site.data.homepage.learn.points %}
            <div class="point col-sm-4">
                <div class="point-number">{{point.number}}</div>
                <div class="point-title">{{point.title}}</div>
                <div class="point-description">{{point.description}}</div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Sign Up To Get Notified -->
<div class="signup-row description-row" id="signup_row">
  <div class="container">
      <div class="col-lg-12 col-md-12">
        <h2 class="section-title">{{site.data.homepage.signup.title}}</h2>

        <div id='ck_success_msg'  style='display:none;'>
          <p>Thanks! Now check your email.</p>
        </div>
        <p class="ck_errorArea"></p>

        <!--  Form starts here  -->
        <form id="ck_subscribe_form" class="signup-form" action="https://app.convertkit.com/landing_pages/913/subscribe" data-remote="true">
          <input type="hidden" name="id" value="913" id="landing_page_id"></input>
          <div class="row">
            <input class="col-xs-12 col-sm-4 col-sm-offset-4" name="first_name" id="ck_firstNameField" required type="textbox" placeholder="First name">
          </div>

          <div class="row">
            <input class="col-xs-12 col-sm-4 col-sm-offset-4" name="email" id="ck_emailField" required type="textbox" placeholder="Enter your e-mail address">
          </div>

          <div class="row">
            <input class="col-xs-12 col-sm-4 col-sm-offset-4 btn-primary btn-hg" type="submit" id='ck_subscribe_button' value="{{site.data.homepage.signup.button}}">
          </div>
        </form>

      </div>
  </div>
</div>

<!-- A Letter From -->
<div class="letter-row description-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <img class="large-img-rounded img-responsive" src="{{site.data.homepage.letter.image}}">
        <h2 class="section-title">{{site.data.homepage.letter.title}}</h2>
        <h3 class="letter-title">{{site.data.homepage.letter.subtitle}}</h3>
        {% for each in site.data.homepage.letter.contents %}
        <p>{{ each.paragraph }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



<!-- Featuring Insights From -->
<div class="featuring-row description-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="section-title">{{site.data.homepage.featuring.title}}</h2>
        
        <div class="row">
            {% for person in site.data.homepage.featuring.people %}
                <div class="person col-sm-3">
                    <img class="large-img-rounded img-responsive" src="{{person.image}}">
                    <div class="point-description"><strong>{{person.name}}</strong><br><em>{{person.role}}</em></div>
                </div>
            {% endfor %}
        </div>

        <p class="bonus">{{site.data.homepage.featuring.bonus}}</p>
      </div>
    </div>
  </div>
</div>


<!-- Sign Up To Get Notified -->
<div class="signup-row description-row" id="signup_row">
  <div class="container">
      <div class="col-lg-12 col-md-12">
        <h2 class="section-title">{{site.data.homepage.signup_2.title}}</h2>

        <div id='ck_success_msg'  style='display:none;'>
          <p>Thanks! Now check your email.</p>
        </div>
        <p class="ck_errorArea"></p>

        <!--  Form starts here  -->
        <form id="ck_subscribe_form" class="signup-form" action="https://app.convertkit.com/landing_pages/913/subscribe" data-remote="true">
          <input type="hidden" name="id" value="913" id="landing_page_id"></input>
          <div class="row">
            <input class="col-xs-12 col-sm-4 col-sm-offset-4" name="first_name" id="ck_firstNameField" required type="textbox" placeholder="First name">
          </div>

          <div class="row">
            <input class="col-xs-12 col-sm-4 col-sm-offset-4" name="email" id="ck_emailField" required type="textbox" placeholder="Enter your e-mail address">
          </div>

          <div class="row">
            <input class="col-xs-12 col-sm-4 col-sm-offset-4 btn-primary btn-hg" type="submit" id='ck_subscribe_button' value="{{site.data.homepage.signup.button}}">
          </div>
        </form>

      </div>
  </div>
</div>

<!-- FAQ -->
<div class="faq-row description-row" id="signup_row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <h2 class="section-title">{{site.data.homepage.faq.title}}</h2>
        {% for question in site.data.homepage.faq.qa %}
            <div class="faq-question">{{question.question}}</div>
            <div class="faq-answer">{{question.answer}}</div>
        {% endfor %}
        <br><br>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="testimonial-row instructor-row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <p>{{site.data.homepage.footer.copyright}}</p>
        <p><a href="mailto:{{site.data.homepage.footer.email}}">{{site.data.homepage.footer.contact}}</a></p>
      </div>
    </div>
  </div>
</div>


</body>
</html>
