/*
HOMEPAGE.SCSS
*/


body {
  font-family: 'Proxima' !important;
  color: $black;
}

.large-img-rounded {
  border-radius: 90px;
  width: 185px;
  margin: auto;
}

h2.section-title {
  color: $heading-color !important;
  font-size: 35px;
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary[disabled] {
  background: $button-color;
  border: 1px solid $button-color;
  border-radius: 5px !important;
  padding: 15px 40px !important;
  box-shadow: 0px 2px 0px 1px #e2f1ef;
  text-decoration: none;

  &:hover, &:focus:hover {
    background: darken($button-color, 5%) !important;
    border: 1px solid darken($button-color, 5%) !important;
  }
}

a {
  color :$button-color;

  &:hover {
    color :$button-color;
  }
}

.logo {
  width: 300px;
}

/* Hero */
.homepage-hero {
  height: 685px;
  padding-top: 100px;
  background-size: cover !important;
  background-position: center !important;

  h2.headline {
    margin-top: 100px;
    margin-bottom: 10px;
  }

  h3.subtitle {
    margin-top: 12px !important;
    font-size: 34px !important;
    line-height: 49px !important;
    color: rgba(255,255,255,0.9) !important;

    a {
      color: rgba(255,255,255,0.9) !important;
      text-decoration: underline;
    }
  }

  h3.signup-form-title {
    margin-bottom: 19px;
    color: #fff !important;
    font-weight: bold;
    opacity: 0.8;
  }

  .black-transparent-bg {
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding-bottom: 14px;
    margin-top: 5px;
  }

  .signup-form {
    input {
      width: 100%;
    }

    input[type="textbox"] {
      background: rgba(255,255,255,0.8);

      &:focus {
        box-shadow: 0px 0px 5px 1px #333 !important;
        background: #fff;
        outline: none !important;
      }


      &::-webkit-input-placeholder {
        color: rgba(0,0,0,0.5);
      }
    }


    .col-sm-4, .col-xs-4 {
      padding-left: 2px;
      padding-right: 2px;
    }

    .btn-primary {
      box-shadow: none;
      padding: 13px 20px !important;
    }
  }
}

/* Testimonial */
.testimonial-row {
  font-size: 20px;
  text-align: center;

  p.quote {
    font-size:19px; 
    color: darken($heading-color, 15%);
  }

  .large-img-rounded {
    margin-top: -14px !important;
  }
}


/* Content */
.description-row {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;

  p {
    font-size: 21px;
    font-weight: 200;
    line-height: 36px;
    color: $black;
    text-align: left;
  }

  .underline {
    border-bottom: 3px solid fade-out($button-color, 0.9);
    padding-bottom: 3px;
  }

  table {
    th {
      background: fade-out($button-color, 0.88);
      border-bottom: 2px solid #fff !important;
    }
    td {
      background: fade-out($button-color, 0.93);

      &.amount{
        color: #57986d;
      }
    }
    td, th {
      text-align: center;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 15px !important;
    }
  }
}


/* Learn */
.point {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 50px;

  .point-number {
    float: left;
    border: 1px solid $black;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 1px;
    padding-top: 1px;
  }

  .point-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
    padding-left: 45px;
    color: $black;
  }

  .point-description {
    padding-left: 45px;
    color: $black;
  }
}

/* Sign up */
.signup-row {
  background: #e9f3f1;
  margin-top:20px;

  h2.section-title {
    font-weight: normal;
    color: $black !important;
    margin-top: 0px;
  }
}

.signup-form {
  input[type="textbox"] {
    padding: 15px 20px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 7px;
    font-size: 20px;
    text-align: center;
    transition: 0.1s all ease;

    &:focus {
      box-shadow: 0px 0px 3px 1px #ccc !important;
      outline: none !important;
    }
  }
}


/* Letter */
.letter-row {
  text-align: left;

  h2.section-title {
    text-align: center;

    small {
      line-height: 37px;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 38px;
    font-style: italic;
    line-height: 45px;
    margin-top:50px;
    color: $black !important;
  }

  .large-img-rounded {
    width: 120px !important;
    height: 120px !important;
    margin-top: 40px;
  }

}

/* Featuring Ingsights From */
.featuring-row {
  h2.section-title {
    margin-top: 0px;
  }

  .large-img-rounded {
    width: 120px !important;
    height: 120px !important;
    margin-bottom:15px;
  }

  .person {
    text-align:center;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 17px;

    em {
      font-weight:200;
    }
  }

  .bonus {
    font-style: italic;
    font-size: 25px;
    margin-top: 50px;
    font-weight: 200;
  }
}

.faq-row {
  text-align: left;

  h2.section-title {
    text-align: center;
    margin-bottom: 45px;
  }

  .faq-answer {
    line-height: 29px;
  }
}