/*
HOMEPAGE.SCSS
*/


body {
  font-family: 'Proxima' !important;
}

.large-img-rounded {
  border-radius: 90px;
  width: 185px;
  margin: auto;
}

h2.section-title {
  color: $heading-color !important;
  font-size: 35px;
}

.btn-primary, .btn-primary:focus, .btn-primary:active {
  background: $button-color;
  border: 1px solid $button-color;
  border-radius: 5px !important;
  padding: 15px 40px !important;
  box-shadow: 0px 2px 0px 1px #e2f1ef;
  text-decoration: none;

  &:hover, &:focus:hover {
    background: darken($button-color, 5%) !important;
  }
}


/* Hero */
.homepage-hero {
  height: 685px;
  padding-top: 150px;

  h2.headline {
    margin-top: 135px;
  }

  h3.subtitle {
    color: #fff !important;
    margin-top: 55px !important;
    font-size: 26px !important;
    line-height: 41px !important;
    color: rgba(255,255,255,0.9) !important;

    a {
      color: rgba(255,255,255,0.9) !important;
      text-decoration: underline;
    }
  }
}

/* Testimonial */
.testimonial-row {
  font-size: 20px;
  text-align: center;

  p.quote {
    font-size:19px; 
    color: darken($heading-color, 15%);
  }

  .large-img-rounded {
    margin-top: -90px !important;
  }
}


/* Content */
.description-row {
  text-align: center;

  p {
    font-size: 20px;
    font-weight: 200;
    line-height: 36px;
    color: $black;
  }

  .underline {
    border-bottom: 3px solid fade-out($button-color, 0.9);
    padding-bottom: 3px;
  }

  table {
    th {
      background: fade-out($button-color, 0.88);
      border-bottom: 2px solid #fff !important;
    }
    td {
      background: fade-out($button-color, 0.93);

      &.amount{
        color: #57986d;
      }
    }
    td, th {
      text-align: center;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 15px !important;
    }
  }
}


/* Learn */
.point {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 50px;

  .point-number {
    float: left;
    border: 1px solid $black;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 1px;
    padding-top: 1px;
  }

  .point-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
    padding-left: 45px;
    color: $black;
  }

  .point-description {
    padding-left: 45px;
    color: $black;
  }
}

/* Sign up */
.signup-row {
  background: #e9f3f1;
  margin-top:20px;

  h2.section-title {
    font-weight: normal;
    color: $black !important;
    margin-top: 0px;
  }

  input[type="textbox"] {
    padding: 15px 20px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 7px;
    font-size: 20px;
    text-align: center;
    transition: 0.3s all ease;

    &:focus {
      box-shadow: 0px 0px 3px 1px #ccc !important;
      outline: none !important;
    }
  }
}