/*
RESPONSIVE.SCSS: responsive layout tweaks for breakpoints
*/

/* Breakpoints
------------
*/

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


/* TWEAKS
------------
*/


/* Extra small screen / phone */
@media (min-width: 0px) and (max-width: 373px) {
}

@media (min-width: 0px) and (max-width: $screen-xs-max) {

	h2.headline {
		margin-top: 50px !important;
		font-size: 33px !important; 
	}

	h3.subtitle {
		font-size: 21px !important;
		line-height: 29px !important;
	}

	h2.section-title {
		font-size: 33px !important; 
	}

	.black-transparent-bg {
		float: left;
	}

	.btn-primary {
		font-size: 15px !important;
		padding: 10px 20px !important;
	}

	.homepage-hero {
		height: 850px !important;
	}
}

@media (min-width: $screen-xs-max) {
	h3.subtitle {
		font-size: 31px !important;
		line-height: 47px !important;
  }
}


/* Tablets and below */
@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {

	h2.heading {
		font-size: 38px;
	}

	h3.subtitle {
		font-size: 31px !important;
		line-height: 39px !important;
	}


}

/* Desktop and below */
@media (max-width: $screen-md-max) {

}


/* Small screen / tablet only */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	
}

/* Medium screen / desktop only */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	h2.heading {
		font-size: 49px;
	}
}

/* Large screen / wide desktop */
@media (min-width: $screen-lg-min) { 
	h2.heading {
		font-size: 49px;
	}
}